/src/main/webapp/WEB-INF/config/dbconn.properties
/src/main/webapp/WEB-INF/config/dbconn_server.properties
/src/main/webapp/WEB-INF/config/imagePath.properties
/src/main/webapp/WEB-INF/config/imagePath_server.properties
/.idea
/target