<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Text</servlet-name>
        <servlet-class>servlet.Text</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Text</servlet-name>
        <url-pattern>/Text</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Information</servlet-name>
        <servlet-class>servlet.ServletInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Information</servlet-name>
        <url-pattern>/Information</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Note</servlet-name>
        <servlet-class>servlet.ServletNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Note</servlet-name>
        <url-pattern>/Note</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>servlet.ServletComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>

</web-app>