<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="commentDetails" class="bean.CommentDetails"/>
    <bean id="information" class="bean.Information"/>
    <bean id="note" class="bean.Note"/>
    <bean id="social" class="bean.Social"/>

    <bean id="operateCommentDetails" class="bean.operate.OperateCommentDetails"
        p:operateDB-ref="operateDB"
        p:tableName="CommentDetails"
        p:currentTime-ref="currentTime"/>
    <bean id="operateInformation" class="bean.operate.OperateInformation"
        p:operateDB-ref="operateDB"
        p:tableName="Information"
        p:ls-ref="listAndString"
        p:fileOperation-ref="fileOperation"
        p:imageConstant-ref="imageConstant"
        p:currentTime-ref="currentTime"/>
    <bean id="operateNote" class="bean.operate.OperateNote"
          p:operateDB-ref="operateDB"
          p:tableName="Note"
          p:ls-ref="listAndString"
          p:fileOperation-ref="fileOperation"
          p:imageConstant-ref="imageConstant"
          p:currentTime-ref="currentTime"/>
    <bean id="operateSocial" class="bean.operate.OperateSocial"
          p:currentTime-ref="currentTime"
          p:db-ref="operateDB"/>

    <bean id="getContext" class="spring.GetContext"/>

    <bean id="dbConnection" class="sql.DBConnection"/>
    <bean id="operateDB" class="sql.OperateDB"
          p:connection-ref="dbConnection"/>

    <bean id="fileOperation" class="util.file.FileOperation"
        p:coder-ref="coder"
        p:getUUID-ref="getUUID"/>
    <bean id="imageConstant" class="util.file.ImageConstant"/>
    <bean id="coder" class="util.file.Coder"/>

    <bean id="jsonArrayOperation" class="util.JSON.JSONArrayOperation"/>
    <bean id="jsonObjectOperation" class="util.JSON.JSONObjectOperation"/>

    <bean id="requestAndResponse" class="util.network.RequestAndResponse"
        p:arrayOperation-ref="jsonArrayOperation"/>

    <bean id="currentTime" class="util.CurrentTime"/>
    <bean id="getUUID" class="util.GetUUID"/>
    <bean id="judgeEmpty" class="util.JudgeEmpty"/>
    <bean id="listAndString" class="util.ListAndString"/>
    <bean id="mapAndString" class="util.MapAndString"/>

    <context:property-override location="sql/dbconn_server.properties"/>
    <context:property-override location="util/file/imagePath_server.properties"/>

</beans>