<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="comment" class="bean.Comment"/>
    <bean id="commentDetails" class="bean.CommentDetails"/>
    <bean id="information" class="bean.Information"/>
    <bean id="note" class="bean.Note"
        p:date-ref="currentTime"/>

    <bean id="operateComment" class="bean.operate.OperateComment"
        p:operateDB-ref="operateDB"
        p:tableName="comment"/>
    <bean id="operateCommentDetails" class="bean.operate.OperateCommentDetails"
        p:operateDB-ref="operateDB"/>
    <bean id="operateInformation" class="bean.operate.OperateInformation"
        p:operateDB-ref="operateDB"
        p:tableName="information"/>
    <bean id="operateNote" class="bean.operate.OperateNote"
        p:operateDB-ref="operateDB"/>


    <bean id="test" class="servlet.Text"/>

    <bean id="getContext" class="spring.GetContext"/>

    <context:property-override location="sql/dbconn.properties"/>
    <bean id="dbConnection" class="sql.DBConnection"/>
    <bean id="operateDB" class="sql.OperateDB"
          p:connection-ref="dbConnection"/>

    <bean id="currentTime" class="util.CurrentTime"/>
    <bean id="judgeEmpty" class="util.JudgeEmpty"/>
</beans>